[submodule "Ullmannite/ThirdPartyLibs/plog"]
	path = Ullmannite/ThirdPartyLibs/plog
	url = https://github.com/SergiusTheBest/plog.git
[submodule "Ullmannite/ThirdPartyLibs/glfw"]
	path = Ullmannite/ThirdPartyLibs/glfw
	url = https://github.com/glfw/glfw.git
[submodule "Ullmannite/ThirdPartyLibs/imgui"]
	path = Ullmannite/ThirdPartyLibs/imgui
	url = https://github.com/ocornut/imgui.git
